# Pomodoro 2021

## Purpose 
I've got a csv file with multiple years of information on how I spend time working on tasks and projects. This is a notebook that is going to clean up the file I have for all my pomodoro tasks. Previously I've done this cleaning in google sheets. I'd like to clean this up with pandas since I'm leaning Python.

## Data
This is my personal data, I use an app called BeFocused Pro which is a timer set for 25 minutes, a user can assign this timer to specific tasks. It's what I use when I work on projects, school assignments, work tasks, just about for everything. It's a method that I use to stay focused on a task. The data consists of time stamps and includes information from the 2017 to present day.

## Data Cleaning

1. Import pandas and use the *read.csv* to read the csv with all of my data
2. Review the columns present in my data with `data.columns` & then use `data.describe()` to review the characteristics of the numeric fields
3. Remove duplicates that may be present here with `data.drop_duplicates(inplace = True)` will drop and save it to the current data, otherwise it would create a new data
4. Remove any nulls that may be present with `data.isnull().any()` -- the `.any()` will check to see for each column if there are any null values at all

### Data Cleaning - Step 1

In [2]:
import pandas as pd

data = pd.read_csv("C:/Users/iarreola/IU_B551_AI_Class/LearningPython/Pandas/BeFocused.csv")

### Data Cleaning - Step 2

In [4]:
data.columns
data.describe()

        Duration
count     6533.0
mean        25.0
std          0.0
min         25.0
25%         25.0
50%         25.0
75%         25.0
max         25.0

### Data Cleaning - Step 3

In [5]:
data.drop_duplicates(inplace= True)

### Data Cleaning - Step 4

In [7]:
data.isnull().any()

Start date        False
 Duration         False
 Assigned task    False
 Task state       False
dtype: bool

## Data Transformation

So far, the data is pretty clean. I want to move onto the data transformation. Let's start with the time stamp. I want to move this into Tableau and know that it's easier (or at least, it's *my personal preference*) to work with data that's cleaned up and ready to use. I want to clean up that time stamp and make additional columns which create a column for year, month, day, time, etc. 

1. Check the first few columns of *data* so that I know what to choose for the *timestamp* column
2. Rename my columns so it's easier to follow the clean up steps that follow. 
3. `Slice` the `Start date` column, where we specify the from the end to the beginning. I want to slice my data to get the following breakouts into its own column in my table:
- Time
- Year
- Month
- MM/DD/YYYY
  - For this first I'll convert my string to a `date` and then create a new column using the format that I like

### Data Transformation - Step 1

In [10]:
data.head()

                   Start date   Duration   Assigned task  Task state
0   Sep 5  2017 at 5:49:26 PM         25  Parachute book        Done
1  Sep 6  2017 at 11:25:52 AM         25            STAR        Done
2  Sep 6  2017 at 12:05:30 PM         25            STAR        Done
3  Sep 6  2017 at 12:38:43 PM         25            STAR        Done
4   Sep 6  2017 at 1:22:58 PM         25            STAR        Done

### Data Transformation - Step 2

In [18]:
data.columns = ['Start_date', 'Duration', 'Assigned_Task', 'Task_State']
data.head()

### Data Transformation - Step 3

In [63]:
data['Time'] = data.Start_date.str.slice(-11)

In [62]:
data['AM_PM'] = data.Start_date.str.slice(-3)

In [69]:
data['Year'] = data.Start_date.str.slice(-20,-14)

In [72]:
data['Full_Date'] = data.Start_date.str.slice(-27,-14)

In [80]:
date_sr = pd.to_datetime(data.Full_Date)

data['Short_Date'] = date_sr.dt.strftime('%m/%d/%Y')

In [81]:
data.head()

,Start_date,Duration,Assigned_Task,Task_State,Time,AM_PM,Year,Full_Date,Short_Date
0,Sep 5 2017 at 5:49:26 PM,25,Parachute book,Done,5:49:26 PM,PM,2017,Sep 5 2017,09/05/2017
1,Sep 6 2017 at 11:25:52 AM,25,STAR,Done,11:25:52 AM,AM,2017,Sep 6 2017,09/06/2017
2,Sep 6 2017 at 12:05:30 PM,25,STAR,Done,12:05:30 PM,PM,2017,Sep 6 2017,09/06/2017
3,Sep 6 2017 at 12:38:43 PM,25,STAR,Done,12:38:43 PM,PM,2017,Sep 6 2017,09/06/2017
4,Sep 6 2017 at 1:22:58 PM,25,STAR,Done,1:22:58 PM,PM,2017,Sep 6 2017,09/06/2017

## Data Exploration: 2021

Now that I've added my additional columns I want to explore 2021, to see if I can create additional columns, so that it's even easier to use inside of Tableau.

In [92]:
data['Short_Date'] = pd.to_datetime(data['Short_Date'])

In [100]:
current_year = pd.to_datetime('1/1/2021')

my_year = data.loc[data.Short_Date >= current_year, :]

,Start_date,Duration,Assigned_Task,Task_State,Time,AM_PM,Year,Full_Date,Short_Date
4612,Jan 1 2021 at 9:12:38 AM,25,Reading,To Do,9:12:38 AM,AM,2021,Jan 1 2021,2021-01-01
4613,Jan 1 2021 at 12:54:12 PM,25,Bullet Journal 2021,To Do,12:54:12 PM,PM,2021,Jan 1 2021,2021-01-01
4614,Jan 1 2021 at 1:25:06 PM,25,Bullet Journal 2021,To Do,1:25:06 PM,PM,2021,Jan 1 2021,2021-01-01
4615,Jan 1 2021 at 1:50:31 PM,25,Bullet Journal 2021,To Do,1:50:31 PM,PM,2021,Jan 1 2021,2021-01-01
4616,Jan 1 2021 at 2:25:33 PM,25,Bullet Journal 2021,To Do,2:25:33 PM,PM,2021,Jan 1 2021,2021-01-01

In [110]:
my_year.to_csv('C:/Users/iarreola/IU_B551_AI_Class/LearningPython/Pandas/BeFocused_2021.csv')

In [104]:
my_year.groupby('Assigned_Task').Duration.sum().sort_values(ascending = False)

Assigned_Task
Standard Reports                 7475
Writing 2021                     4850
Grad School                      4075
Bullet Journal 2021              2900
Bookings Projects                2625
Artificial Intelligence Class    2600
L2 Codeacademy                   2575
Reading                          2350
Management Dashboard             1575
APM                              1475
Learning (Pluralsight)           1400
APM Project                      1375
Data Literacy                    1375
MFT                              1300
F&S Projects (Misc)              1175
Career Projects                  1050
Iron Quest 2021                  1025
Tableau Template                 1000
Primerica                         825
F&S Tableau Learning Tools        750
Makeover Monday 2021              725
L1 Data Camp                      700
Trailhead                         600
66 Days of Data                   450
Flipping Finance                  450
Tableau Certification             400
Drawing                           375
Viz Projects                      175
VTO                               100
30 Days of Python                  75
Data Manipulation with Pandas      50
Tableau ELearning                  50
Workout Wednesday                  50
Leetcode                           25
Natural Language Processing        25
Name: Duration, dtype: int64